<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper" style="<%= 'margin: 0' if !user_signed_in? %>">
<!--BEGIN CONTENT-->
<div class="page-content">

<script type="text/javascript">


  function getCookie(name)
  {
    var re = new RegExp(name + "=([^;]+)");
    var value = re.exec(document.cookie);
    return (value != null) ? unescape(value[1]) : null;
  }

  if(feature1 = getCookie("feature1") == "gplan"){
    if(feature2 = getCookie("feature2") == "no"){
      if(feature3 = getCookie("feature3") == "no"){
        $(document).ready(function(){
            $("#todo").remove();
            $("#chat").remove();
        });
  }}}

  if(feature1 = getCookie("feature1") == "no"){
    if(feature2 = getCookie("feature2") == "todo"){
      if(feature3 = getCookie("feature3") == "no"){
        $(document).ready(function(){
            $("#gplan").remove();
            $("#chat").remove();
        });
  }}}

  if(feature1 = getCookie("feature1") == "no"){
    if(feature2 = getCookie("feature2") == "no"){
      if(feature3 = getCookie("feature3") == "chat"){
        $(document).ready(function(){
            $("#gplan").remove();
            $("#todo").remove();
        });
  }}}

  if(feature1 = getCookie("feature1") == "gplan"){
    if(feature2 = getCookie("feature2") == "todo"){
      if(feature3 = getCookie("feature3") == "no"){
        $(document).ready(function(){
            $("#chat").remove();
        });
  }}}


  if(feature1 = getCookie("feature1") == "gplan"){
    if(feature2 = getCookie("feature2") == "no"){
      if(feature3 = getCookie("feature3") == "chat"){
        $(document).ready(function(){
            $("#todo").remove();
        });
  }}}

  if(feature1 = getCookie("feature1") == "no"){
    if(feature2 = getCookie("feature2") == "todo"){
      if(feature3 = getCookie("feature3") == "chat"){
        $(document).ready(function(){
            $("#gplan").remove();
        });
  }}}

  if(feature1 = getCookie("feature1") == "no"){
    if(feature2 = getCookie("feature2") == "no"){
      if(feature3 = getCookie("feature3") == "no"){
        $(document).ready(function(){
            $("#gplan").remove();
            $("#todo").remove();
            $("#chat").remove();
        });
  }}}


</script>

<h2>Events Around You</h2>
<div id="map" class="col s12" style="height: 300px;width: 100%;"></div>

<script>
      var map;
      var markers = [];
      var user_marker;
      var events = [];

      $(document).ready(function() {
        var req = $.get("<%= all_occasions_path format: :json %>");

        $.when(req).done(function(res) {
          events = res;
        })

        getLocation();
      })

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: userLatLong
        });
        user_marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
          position: userLatLong,
          map: map,
          animation: google.maps.Animation.DROP,
        });
        var infowindow = new google.maps.InfoWindow({
            content: 'You are here'     
        });
        user_marker.addListener('click', toggleBounce);
        user_marker.addListener('click', function() {
        infowindow.open(map, user_marker);});
        placeMarkers(events);
      }

      function placeMarker(location, event_title, event_venue) {
        var contentString = '<h6><b>'+ event_title +'</b></h6><p>' + 'Venue: '+ event_venue + '</p>'
        var marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
          position: location,
          map: map,
        });
        var infowindow = new google.maps.InfoWindow({
            content: contentString     
        });
        markers.push(marker)
        marker.addListener('click', function() {
        infowindow.open(map, marker);});
      }

      function placeMarkers(events) {
        for (var i = events.length - 1; i >= 0; i--) {
          var location = {lat: JSON.parse(events[i].latitude), lng: JSON.parse(events[i].longitude)}
          var event_title = events[i].name;
          var event_venue = events[i].venue;
          placeMarker(location, event_title, event_venue);
        };
      }

      var user_lat;
      var user_long;
      var userLatLong;
      // var contentString;

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position){
        user_lat =  position.coords.latitude;
        user_long = position.coords.longitude;
        userLatLong = {lat: user_lat, lng: user_long};
        initMap();
      }

      function toggleBounce() {
        if (user_marker.getAnimation() !== null) {
          user_marker.setAnimation(null);
        } else {
          user_marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
  
    </script>

<br/>
<div id="gplan">
    <h2>My Planner</h2>
<!-- Optional Feature 1: Google Planner -->
    <script type="text/javascript">
      // Your Client ID can be retrieved from your project in the Google
      // Developer Console, https://console.developers.google.com
      var CLIENT_ID = '402486038680-9up5nbvh55dd2qb9v8emo656pjust331.apps.googleusercontent.com';

      var SCOPES = ["https://www.googleapis.com/auth/calendar.readonly"];

      /**
       * Check if current user has authorized this application.
       */
      function checkAuth() {
        gapi.auth.authorize(
          {
            'client_id': CLIENT_ID,
            'scope': SCOPES.join(' '),
            'immediate': true
          }, handleAuthResult);
      }

      /**
       * Handle response from authorization server.
       *
       * @param {Object} authResult Authorization result.
       */
      function handleAuthResult(authResult) {
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
          // Hide auth UI, then load client library.
          authorizeDiv.style.display = 'none';
          loadCalendarApi();
        } else {
          // Show auth UI, allowing the user to initiate authorization by
          // clicking authorize button.
          authorizeDiv.style.display = 'inline';
        }
      }

      /**
       * Initiate auth flow in response to user clicking authorize button.
       *
       * @param {Event} event Button click event.
       */
      function handleAuthClick(event) {
        gapi.auth.authorize(
          {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          handleAuthResult);
        return false;
      }

      /**
       * Load Google Calendar client library. List upcoming events
       * once client library is loaded.
       */
      function loadCalendarApi() {
        gapi.client.load('calendar', 'v3', listUpcomingEvents);
      }

      /**
       * Print the summary and start datetime/date of the next ten events in
       * the authorized user's calendar. If no events are found an
       * appropriate message is printed.
       */
      function listUpcomingEvents() {
        var request = gapi.client.calendar.events.list({
          'calendarId': 'primary',
          'timeMin': (new Date()).toISOString(),
          'showDeleted': false,
          'singleEvents': true,
          'maxResults': 10,
          'orderBy': 'startTime'
        });

        request.execute(function(resp) {
          var events = resp.items;
          appendPre('Upcoming events:');

          if (events.length > 0) {
            for (i = 0; i < events.length; i++) {
              var event = events[i];
              var when = event.start.dateTime;
              if (!when) {
                when = event.start.date;
              }
              appendPre(event.summary + ' (' + when + ')')
            }
          } else {
            appendPre('No upcoming events found.');
          }

        });
      }

      /**
       * Append a pre element to the body containing the given message
       * as its text node.
       *
       * @param {string} message Text to be placed in pre element.
       */
      function appendPre(message) {
        var pre = document.getElementById('output');
        var textContent = document.createTextNode(message + '\n');
        pre.appendChild(textContent);
      }

    </script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>

    <div name="gplan" id="authorize-div" style="display: none">
      <span>Authorize access to Google Calendar API</span>
      <!--Button for the user to click to initiate auth sequence -->
      <button id="authorize-button" onclick="handleAuthClick(event)">
        Authorize
      </button>
    </div>
    <pre id="output"></pre>
    <br/>
  </div>


<!-- Optional Feature 2: Todo List -->
<div id="todo"> 
<h2 id="todo">Todo List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr><%= link_to 'New Todo list', new_todo_list_path %></tr>
  </tbody>
</table>
<br>
</div>

<!-- Optional Feature 3: ChatBox, using chatango.com (3rd party app) -->
    <div id="chat" style="width:100%; height:100%">

        <h2>Chat</h2>

        <script id="cid0020000121016808980" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 250px;height: 250px;">
        {"handle":"fypshowcase1516","arch":"js","styles":{"a":"000066","b":100,"c":"FFFFFF","d":"FFFFFF","k":"000066","l":"000066","m":"000066","n":"FFFFFF","p":"10","q":"000066","r":100,"fwtickm":1}}
        </script>

    </div>

</div>
</div>
