
<%= form_for(@occasion, html: {autocomplete: 'off', class: 'col l12'}) do |f| %> 
  <% if @occasion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occasion.errors.count, "error") %> prohibited this occasion from being saved:</h2>

      <ul>
      <% @occasion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--     <div class="row">
    <div class="input-field col s12">
     <%= f.label :name %>
     <%= f.text_field :name, autocomplete: 'off', class: 'validate' %>
    </div>
  </div>

      <div class="row">
    <div class="input-field col s12">
      <%= f.label :description %>
      <%= f.text_field :description, autocomplete: 'off', class: 'validate' %>
    </div>
  </div>

      <div class="row">
    <div class="input-field col s12">
      <%= f.label :venue %>
      <%= f.text_field :venue, autocomplete: 'off', class: 'validate' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 datetime">
      <%= f.label :time_start %><br>
      <%= f.datetime_select :time_start %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 datetime">
      <%= f.label :time_end %><br>
      <%= f.datetime_select :time_end %>
    </div>
  </div>

    <%= f.text_field :latitude, hidden: false %>
    <%= f.text_field :longitude, hidden: false %>
  
  <div class="row">
    <div class="col s12">
      <%= f.submit class: "btn waves-effect" %> -->


<!--<style type="text/css">
        .placepicker-map {
        width: 100%;
        height: 300px;
      }
</style> -->

<!-- <div id="collapseOne" class="collapse">
  <div class="placepicker-map thumbnail"></div>
</div> -->

    <style>
      #map {
        height: 400px;
      }
    </style>

<div class= "row">      
<!-- <div class="col-sm-offset-3 col-sm-6"> -->
<div class="panel panel-violet">
  <div class="panel-heading">
    Create Occasion</div>
    <div class="panel-body pan">
        <div class="form-body pal">
          
              <div class="form-group">
                <div class="input-icon right">
                  <%= f.text_field :name, autocomplete: 'off', class: 'validate form-control', placeholder: 'Name' %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-icon right">
                    <%= f.text_area :description, autocomplete: 'off', class: 'validate form-control', placeholder: 'Description' %></div>
                  </div>

                <div class="form-group">
                  <div class="input-icon right">
                    <%= f.text_field :venue, autocomplete: 'off', class: 'validate form-control', placeholder: 'Venue' %></div>
                  </div>

                <div class="form-group">
                  <div class="input-icon right">
                    <%= f.label :time_start %>
                    <%= f.datetime_select :time_start %></div>
                  </div>

                <div class="form-group">
                  <div class="input-icon right">
                    <%= f.label :time_end %>
                    <%= f.datetime_select :time_end %></div>
                  </div>
                </div>         

    <%= f.text_field :latitude, hidden: false, class: 'form-control' %>
    <%= f.text_field :longitude, hidden: false, class: 'form-control' %>
    <br/>

<input placeholder="Find Places" id="map_input" type="text" hidden style="right:100px" class="col s8">
<div id="map" class="col s12"></div>

</div>
                <div class="form-actions text-center pal">
                  <%= f.submit class: 'btn btn-primary' %>
                  </div>

<% end %>
</div>
</div>
</div>
<!-- <div id="us2" style="width: 500px; height: 400px;"></div> -->
    <script>
      var map;
      var marker;
      var user_lat;
      var user_long;
      var userLatLong;
      // var contentString;

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position){
        user_lat =  position.coords.latitude;
        user_long = position.coords.longitude;
        userLatLong = {lat: user_lat, lng: user_long};
        initMap();
      }

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: userLatLong
        });

        marker = new google.maps.Marker({
          position: userLatLong,
          map: map,
          draggable: true,
          title: 'You are Here'
        });

        // Create the search box and link it to the UI element.
          var input = document.getElementById('map_input');
          var searchBox = new google.maps.places.SearchBox(input);
          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

          searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }
          console.log('places_changed')
          // Clear out the old markers.
            marker.setMap(null);

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {

            // Create a marker for each place.
            marker = new google.maps.Marker({
              map: map,
              title: place.name,
              position: place.geometry.location
            });
            updateLatLng(marker.getPosition());

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });

        // var infowindow = new google.maps.InfoWindow({
        //   content: "<p>UNIVERSITI ISLAM</p>"+"<p>ANTARABANGSA MALAYSIA</p>",
        // });

        marker.addListener('click', function() {
        infowindow.open(map, marker);
        });

        marker.addListener('dragend', function(e) {
        console.log("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
        updateLatLng(e.latLng);
        });

        google.maps.event.addListener(map, 'click', function (e) {
                console.log("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
                placeMarker(e.latLng);
                updateLatLng(e.latLng);

            });

        function placeMarker(location) {
          marker.setPosition(location);
        }


        // map.addListener('click', function(e) {
        //   console.log(e.getPosition())
        // });

        $('#map_input').show();
      }

      function updateLatLng(latLng){
        $('#occasion_latitude').val(latLng.lat());
        $('#occasion_longitude').val(latLng.lng());
      }

      getLocation();

      // $('#occasion_latitude').val(user_lat)
      // $('#occasion_longitude').val(user_long)

      //   console.log(position)

        // $('#us2').locationpicker({
        //   location: {latitude: user_lat, longitude: user_long}, 
        //   radius: 20,
        //   inputBinding: {
            // latitudeInput: $('#occasion_latitude'),
            // longitudeInput: $('#occasion_longitude'),
            // locationNameInput: $('#occasion_venue')
          // }
        // });
      // }
      // getLocation();      

    // var map;
    // $(".placepicker").placepicker({
    // placeChanged: function(place) {
    //   $('#occasion_latitude').val(this.getLocation().latitude)
    //   $('#occasion_longitude').val(this.getLocation().longitude)
    //   $('#occasion_venue').val(place.formatted_address)
    // }
  // });
  
    </script>