<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @occasion.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @occasion.description %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @occasion.venue %>
</p>

<p>
  <strong>Date:</strong>
  <%= @occasion.date %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @occasion.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @occasion.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @occasion.user %>
</p>

<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>
