<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper" style="<%= 'margin: 0' if !user_signed_in? %>">
<!--BEGIN CONTENT-->
<div class="page-content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @occasion.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @occasion.description %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @occasion.venue %>
</p>

<p>
  <strong>Time Start:</strong>
  <%= @occasion.time_start %>
</p>

<p>
  <strong>Time End:</strong>
  <%= @occasion.time_end %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @occasion.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @occasion.longitude %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @occasion.organization.name %>
</p>

<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>

</div>
</div>